app-logs/
app-logs/backend
app-logs/frontend
app-logs/backend/jokes-backend-stderr.log
app-logs/backend/jokes-backend-stdout.log
app-logs/frontend/jokes-frontend-stderr.log
app-logs/frontend/jokes-frontend-stdout.log


