h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.joke_style {
    border: 2px #eee solid;
    color: red;
    background: yellow;
    text-align: center;
    padding: 20px;
}
